In [2]:
print("hello")

hello

In [3]:
import pandas as pd

In [4]:
path = "readscore/all_user_data.csv"

In [5]:
user_data = pd.read_csv(path)

In [6]:
user_data.describe()

                 id        userid     editcount
count  1.138079e+07  1.138079e+07  1.138079e+07
mean   5.690392e+06  1.771902e+07  6.622466e+01
std    3.285350e+06  1.139158e+07  5.647131e+03
min    0.000000e+00  1.000000e+00  1.000000e+00
25%    2.845196e+06  7.766614e+06  1.000000e+00
50%    5.690392e+06  1.617684e+07  2.000000e+00
75%    8.535589e+06  2.760579e+07  6.000000e+00
max    1.138078e+07  3.976091e+07  7.275111e+06

In [7]:
user_data.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

                id       userid    editcount
count  1.13808e+07  1.13808e+07  1.13808e+07
mean   5.69039e+06   1.7719e+07      66.2247
std    3.28535e+06  1.13916e+07      5647.13
min              0            1            1
25%     2.8452e+06  7.76661e+06            1
50%    5.69039e+06  1.61768e+07            2
75%    8.53559e+06  2.76058e+07            6
max    1.13808e+07  3.97609e+07  7.27511e+06

In [8]:
user_data_c = user_data[user_data['editcount']>66]

In [9]:
user_data_c.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

                id       userid    editcount
count       396870       396870       396870
mean   5.72594e+06  1.26455e+07      1744.16
std    3.30098e+06  1.12664e+07      30192.3
min              0            1           67
25%    2.86313e+06  2.47518e+06           93
50%    5.74253e+06  9.63564e+06          151
75%    8.57221e+06  2.02825e+07          379
max    1.13808e+07  3.97532e+07  7.27511e+06